html body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
#headerdiv{
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid RGB(194,194,194);
    padding: 10px 10px 0px 10px;
    position: fixed;
}
#logo_image{
    float: left;
    width: 50px;
}
#search_input{
    width: 300px;
    height: 50px;
    float: left;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
}
#count-box{
    display: flex;
    width: 100%;
    height: 130px;
    padding-left: 50px;
    flex-direction: row;
}
#count{
    font-size: 16pt;
    font-weight: bold;
    margin-top:auto;
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.Room{
    width: 400px;
    height:400px;
    padding: 15px 15px 15px 15px;
}
.Room_img{
    width: 90%;
    height: 80%;
    display: inline-flex;
}
.Room_img img{
    width: 100%;
    height: 100%;
}
.Room_info{
    width: 90%;
    height: 80px;
}
.Room_detail{
    width: 100%;
    height: 20%;
    font-size: 10pt;
}
.Room_title{
    width: 100%;
    height: 30%;
    font-size: 13pt;
    font-weight: bold;
    overflow:hidden;
    text-overflow:ellipsis;
}
.Room_bottom{
    width: 100%;
    height: 50%;
    display: flex;
}
.Room_pay{
    width: 78%;
    height: 100%;
    font-size: 9pt;
    color: gray;
}
.del_btn{
    font-size: 10pt;
    width: 20%;
    height: 100%;
    margin: 0;
    background-color: white;
    border: 2px solid black;
}