html body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

#headerdiv{
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid RGB(194,194,194);
    padding: 10px 10px 0px 10px;
    position: fixed;
    z-index: 3;
}
#logo_image{
    float: left;
    width: 50px;
}

#search_input {
    border: 1px solid #c2c2c2;
    width: 350px;
    height: 50px;
    float: left;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    cursor: inherit;
    text-align: left;
}
body li {
    list-style: none;
}
body a {
    display: block;
    text-decoration: none;
    color: #000;
}


body header div a {
    width: 40px;
    margin-top: 5px;
}


body header div #topmenu {
    visibility: hidden;
    float: right;
    margin: 0 15px 0 0;
}

.menubar{
float: right;
margin-right:12px;
margin-top: -3px;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}

.menubar ul{
float: right;
background: rgba(219, 211, 211, 0);
height:50px;
list-style:none;
margin:0;
padding:0;
}

.menubar li{
float:left;
padding:0px;
}
.menubar img{
    width:50px;height: auto;
}

.menubar li a{
background: rgba(255, 255, 255, 0);
width: 100%;
color:#220f0f;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}


.menubar li a:hover, .menubar ul li:hover a{

background-color: rgba(255, 255, 255, 0);

}

.menubar li ul{
background: rgb(109,109,109);
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:100px;
z-index:100;

}

.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:100px;
}
.menubar ul li a img{
    border-radius: 100%;
}

.menubar ul li:hover li a{
background:white;
border:1px solid rgba(182, 182, 182, 0.562);
   

}

.menubar li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: rgb(253, 90, 95);
border:1px solid rgba(182, 182, 182, 0.562);
color:#ffffff;
text-decoration:none;
}

.menubar p{
clear:left;
}
.menubar li a{
    height: 50px;
    
}

.menu_container {
    display: none;
}

#fillter input[type="text"]{
    text-align: center;
}
#f_button{
    height: 50px;
    background-color: white;
    border: 0.5px solid silver;
    text-align: center;
}
#fillter{
    display:none;
    background-color: white;
    border: 0.5px solid silver;
    padding: 0px 15px;
    margin: 10px 0px 0px 0px;
    width: 480px;
    height: 160px;
    z-index: 1;
}
.rows{
    width: 450px;
    margin: 10px 0px;
    display: block;
}
.cols{
    width: 40%;
    display: inline-block;
    margin: 0px;
    position: relative;
}

@media screen and (max-width: 880px){
	.menubar{
		display: none;
	}
}



body header div #topmenu ul li {
    float: left;
    margin-left: 20px;
}
body header div #topmenu ul li img {
    width: 30px;
    border-radius: 50%;
    margin-top: -5px;
}