html body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
header div{
    background-color: white;
    padding: 10px 30px 0px 10px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
}

#logo_image{
    float: left;
    width: 35px;
    margin-top: 10px;
 
}
a { text-decoration: none; }
#topmenu{
    float: right;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}
#topmenu ul, li{
    display:inline; 
    margin-right: 35px;
   
}
#topmenu .menuLink{ 
    text-decoration:none; 
    color: black;
}
#detail_input {
    width: 350px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
#boardnotice {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
}
#boardnotice p {
    font-family: Impact, 맑은고딕;
    font-size: 16px;
    line-height: 10px;

}
input[type=button] {
    background-color: black;
    border: 1px solid;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 7px 17px;
    margin-left: 1270px;

}
table.board {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 2;
    border-top: 1px solid #ccc;
    margin : 60px auto;
    margin-bottom: 20%;
}
table.board th {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.board td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}