table,tr{border-bottom:1px solid #c4c4c4;border-collapse:collapse}table td,table th{padding:15px;font-size:14px;text-align:center}table tr .hoter_host_name{width:20%}table td button{width:30px;height:20px;font-size:10px;padding:0}
.title_box a{
    
    display: inline;

}
