.content_box1{margin-top:-10px}.content_box1 h3{padding-bottom:12px;border-bottom:1px solid #7e7e7e;border-top:1px solid #7e7e7e;padding-top:12px}.content_box1 h3:nth-child(1){border-top:none}.content_box1 table{width:100%;padding-bottom:10px;table-layout:fixed}.content_box1 table tr th{font-size:15px;padding:10px;width:120px}.content_box1 .buttons{border-top:1px solid #7e7e7e;padding-top:12px}.content_box1 .buttons button{display:block;float:left}.content_box1 .buttons button:nth-child(2){float:right}
.title_box a{
    
    display: inline;

}
#star_grade a{
	display:inline;
	text-decoration: none;
	color: gray;
}
#star_grade a.on{
	color: red;
}